@import "../../styles/common";

.button {
  width: 100%;
  border-radius: 4px;
  color: $primaryColor;
  outline: none;
  border: none;
  padding: 7.5px;
  font-size: $primarySize;

  &.primary {
    background: #7b68ee;
  }

  &.secondary {
    background: #303336;
  }

  &:disabled {
    opacity: 0.4;
  }

  &:hover {
    background: #6AA5FC;
    cursor: pointer;
  }
}
